<a href="https://profiles.generalassemb.ly/profiles/tom-duckworth" title="General Assembly Profile" class="link-social block">
<svg height="32" class="clickable-white header-social" version="1.1" width="32" viewBox="0 0 16 16" aria-hidden="true">
    <defs>
        <clipPath id="circleView">
            <circle cx="8" cy="8" r="8"/>
        </clipPath>
    </defs>
<image x="-4.4" y="-4.6" width="25.2" height="25.2" xlink:href="../images/GA-logo.png" clip-path="url(#circleView)" />

 </svg>
</a>
